body { 
	margin: 0; 
	font-size: 28upx; 
	line-height: 1.5; 
	color: #2c2c2c; 
	height: 100%; 
	overflow-x: hidden; 
	-webkit-overflow-scrolling: touch; 
	background: #ffffff;
}

.uni-page-head-btn {
	display: flex;
	align-item: center;
	.uni-btn-icon {
		font-size: 18px !important;
	}
}
